* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #FBFBFB;

  font-family: Arial;
}

/* Center our form */

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-head {
  text-align: center;
  margin-bottom: 20px;
  font-size: 17px;
}

.input {
  background: #F6F6F6;
  border: 2px solid #F1F1F1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.input:focus {
  background: white;
  border-color: #4C7ED8;
}

.input-space {
  margin-top: 17px;
}

.input::placeholder {
  color: #D9D9D9;
}

.btn-space {
  margin-top: 15px;
}

.btn-blue {
  background: #4C7ED8;
  color: white;
}

.btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;

  border: none;
  font-size: 12px;
}