* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
    background: #FBFBFB;
    font-family: Airal;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.form-head {
    font-size: 31px;
    text-align: center;
    margin-bottom: 20px;
}

.input {
    background: #F6F6F6;
    border: 2px solid #F1F1F1;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.input:focus {
  background: white;
  border-color: #4C7ED8;
}

.input:focus::placeholder {
    color: black;
}

.btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;

  border: none;
  font-size: 12px;
}

.btn-primary {
    color: white;
    background: #4C7ED8;
    font-weight: bold;
}

.margin-bottom {
    margin-bottom: 17px;
}

.margin-top {
    margin-top: 17px;
}

.input::placeholder {
    color: #D2D2D2;
}

.btn {
    width: 100%;
}

.controls {
}

.text-secondary {
    color: gray;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
}
