
html *
{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    margin-top: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

a {
  color: #028090;
  text-decoration: inherit; /* no underline */
}
