#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.box {
    position: relative;
    font-size: 24px;
    margin: 3rem;
    padding: 3rem;
    height: 10rem;
    width: 10rem;
    text-align: center;
    background: black;
    border-style: solid;
    border-color: lightgreen;
}


.btn1 {
    position: absolute;
    bottom: 20px;
    right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn2 {
    position: absolute;
    bottom: 20px;
    left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
